@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    background-color: #141a20;
    color: white;
} */


/* width */

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #6b7280;
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #000;
    border-radius: 10px;
}